<header>
    <div class="header">

        <div class="logo">
            <img src="../../../assets/img/logo2.svg" alt="logo">
            <span>lassKeeper</span>
        </div>
        <div class="idioma">
            <img src="../../../assets/img/english.svg" alt="ingles">
            <span>EN</span>
        </div>

    </div>
</header>

<section>
    <div class="container">

        <div class="image-logo">
            <img src="../../../assets/img/logo2.svg" alt="logo">
        </div>
        <div class="description">
            <h2>Sign in</h2> <!-- Texto en Español : Iniciar Sesion-->
            <span>Welcome back! Please sign in</span><!-- Texto en Español : ¡Bienvenido! Por favor, regístrese-->
        </div>
        <div class="form">
            <div class="input_username">
                <input type="text" placeholder="Username">
            </div>
            <div class="input_password">
                <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="container_boton">
            <button type="submit" (click)="onLoginClick()">Login</button>
        </div>

    </div>
</section>