<div class="container-panel-de-control ">
    <h2>Panel de Control</h2>

    <div class="container_main">
        <div class="container-widgets">
            <div class="teacher-card">
                <div class="header-teacher-card">
                    <img class="teacher-img" src="../../../assets/img/profesor.png" alt="Docente">
                    <div>
                        <h3>Docentes</h3>
                        <span>Total de Docentes: {{ countDocentes }}</span>
                    </div>
                </div>
                <div class="container-btn">
                    <a routerLink="/ver-docentes" class="btn btn-sm btn-primary">Ir a Ver a los Docentes</a>
                </div>
                
            </div>
        </div>
    </div>






</div>