.container-view-asistencia {
    margin-left: 200px;
    padding: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgb(248, 248, 248, 0.2);

}

/* Estilo para las celdas del encabezado */
th {
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-size: 12px;
    text-align: left;
}

th i {
    color: rgb(59, 59, 59);
}

th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Estilo para las celdas de datos */
td {
    font-size: 12px;
    /* Tambien puede ser 4px  el padding*/
    padding: 8px 16px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

tr:hover {
    background-color: #f5f5f59d;
}

.presente {
    max-width: 110px;
    background-color: #F0FCE4;
    padding: 4px 16px;
    color: #109648;
    font-weight: 600;
    position: relative;
    border-radius: 16px;
}

.presente span {
    padding-left: 16px;
}

.presente::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #109648;
    display: inline-block;
}

.ausente {
    max-width: 110px;
    background-color: #fcfce4;
    padding: 4px 16px;
    color: #FFBC0A;
    font-weight: 600;
    position: relative;
    border-radius: 16px;
}

.ausente::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #FFBC0A;
    display: inline-block;
}

.ausente span {
    padding-left: 16px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #0d6efd;
}

.my-pagination ::ng-deep .ngx-pagination li {
    border-radius: 4px;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
    border-radius: 4px;
}